/* -----------------------------------------
   Stones & Animals Newsletter
   ----------------------------------------- */

/* -----------------------------------------
   INTRODUCTION
   ----------------------------------------- */


a.zoogestures-name,
a.zoogestures-name:visited {
  color: #d6a900 !important;
}

a.ecolithic-name,
a.ecolithic-name:visited {
  color: #7aa33c !important;
}

a.zoogestures-name:hover {
  color: #d6a900 !important;
}

a.ecolithic-name:hover {
  color: #7aa33c !important;
}

/* -----------------------------------------
   PROJECT HEADINGS
   ----------------------------------------- */

/* ECOLITHIC */

.ecolithic h1 {
  color: #7aa33c;
}


/* ZOOGESTURES */

.zoogestures h1 {
  color: #d6a900;
}


/* -----------------------------------------
   SECTION HEADINGS
   ----------------------------------------- */

.ecolithic h2 {
  color: #7aa33c;
  border-bottom: 2px solid #7aa33c;
}

.zoogestures h2 {
  color: #d6a900;
  border-bottom: 2px solid #d6a900;
}


.ecolithic h3,
.zoogestures h3 {
  margin-top: 1.5em;
  margin-bottom: 0.8em;
}




/* -----------------------------------------
   INDIVIDUAL NEWS ITEMS
   ----------------------------------------- */

.news-item {
  margin-bottom: 2em;
}


/* -----------------------------------------
   PHOTO GALLERY
   ----------------------------------------- */

.photo-gallery {
  margin-top: 3em;
}

.photo-gallery h1 {
  color: #307EF2;
  margin-bottom: 1.5em;
}